* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  line-height: 2.5vw;
  font-family: "Arial", Helvetica, sans-serif;
}

header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  height: 18vh;
  width: 100%;
  background-color: darkslategrey;
  border-bottom: 1px solid;
  opacity: 0.95;
}

#photoId {
  width: 140px;
  height: 100%;
  background-image: url("photo.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 1px solid;
}

.bandeau {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: lightgray;
  height: 100%;
  width: 100%;
}

.bandeau p {
  margin: 10px;
  font-size: 3vw;
}

#link {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  list-style-type: none;
}
li {
  margin: 10px;
  padding-left: 5px;
  border-left: 1px;
  border-left-style: solid;
}
button:hover {
  color: gray;
  cursor: pointer;
}
button {
  border: none;
  font-size: 2.5vh;
  padding: 10px 20px;
  /*background-color: cornflowerblue;*/
  background-color: darkslategrey;
  color: lightgray;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;

  background-size: cover;
  background-image: url("fondEcran3.jpg");
  background-repeat: no-repeat;
}

#sectionText {
  width: 50%;
  margin: 100px 0 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#sectionText div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightgrey;
  font-size: 2vw;

  /*border-radius: 2%;
  border: 2px solid;*/
}

#sectionText div p,
#sectionText div h1 {
  text-align: center;
  color: blue;
}

#sectionText div h1 {
  font-size: 2.5vw;
  text-align: center;
  color: blue;
}

#imageRel {
  display: flex;
  margin: 40px 0 40px 0;
  width: 50%;
  min-height: 300px;
  position: fixed;
  right: 0;
  bottom: 70px;
  top: 140px;
  justify-content: center;
  align-items: center;
  /*background-color: white;*/
  border-radius: 25%;
  /*border: 1px dotted;*/
}

#imageRel img {
  width: 90%;
  height: 90%;
  object-fit: scale-down;
}

.notDisplayed {
  display: none;
}

footer {
  display: flex;
  gap: 20px;
  height: 25px;
  align-items: center;
  color: lightgray;
  background-color: darkslategrey;
  position: fixed;
  bottom: 0;
  width: 100vw;
  border-top: 1px solid;
  opacity: 0.95;
}
footer h1 {
  margin: 10px;
  font-size: 2vh;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 950px) {
  ul {
    display: flex;
    flex-direction: column;
    background: darkslategrey;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 5px 0;
    transform: scaleY(0);
    transform-origin: center top;
    transition: all 0.3s ease;
  }
  ul.open {
    transform: scaleY(1);
  }
  ul li {
    text-align: center;
    border-left: 0px;
    border-bottom: 1px solid;
    max-height: 45px;
  }
  #burger {
    width: 30px;
    height: 2px;
    background: lightgray;
    display: inline-block;
    position: relative;
  }

  #link:hover #burger,
  #link:hover #burger::before,
  #link:hover #burger::after {
    cursor: pointer;
    background: gray;
  }

  #burger::before,
  #burger::after {
    content: "";
    width: 30px;
    height: 2px;
    background: lightgray;
    display: inline-block;
    position: absolute;
    transform-origin: center;
    transition: all 0.3s ease;
  }
  #burger::before {
    top: -7px;
  }
  #burger::after {
    top: 7px;
  }

  #burger.open {
    background: transparent;
  }
  #burger.open::before {
    transform: rotate(45deg);
    top: 0;
  }
  #burger.open::after {
    transform: rotate(-45deg);
    top: 0;
  }

  #imageRel.open {
    visibility: hidden;
  }
  #sectionText {
    height: 2000px;
  }
}
